node_modules
dist
.git
.gitignore
.env
.env.*
*.md
.github
test
coverage
.eslintrc.js
.prettierrc
jest.config.js
tsconfig.json
tsconfig.build.json
nest-cli.json
*.log
.DS_Store
infrastructure
scripts
